.container{
  padding: 0px;
}

h1{
  padding-left: 10px;
}
.navbar{   
  padding: 0 10px;
}
#dropdown {
  width: 300px;
}

.big {
  height: 350px;
  width: auto;
}

#favorites {
  display: none;
}
#favorites > button{
  margin: 10px;
}
#dog-list{
  display: flex;
  flex-flow: wrap;
}
.favorite{
  margin:10px;
}
img {
  height: 150px;
  width: auto;
}
.delete-dog{
  width: 30px;
  height: auto;
  float:right;
}

.card-body > img:hover{
  cursor: pointer;
}

.card-body{
  padding:10px 0;
}

.card {
  width: 250px;
  height: auto;
  border: none;
}

.dogImg{
  height: auto;
}

@media screen and (max-width: 570px){
  .big{
    max-width: 90vw;
    height: auto;
    padding:5px;
  }

}