img {
  height: 150px;
  width: auto;
}
.big {
  height: 350px;
  width: auto;
}
#favorites {
  display: none;
}

#dropdown-menu {
  width: 300px;
  height: auto;
  max-height: 300px;
  overflow-x: hidden;
}
