.container{
  padding:0px;
}

img {
  height: 150px;
  width: auto;
}
.big {
  height: 350px;
  width: auto;
}
#favorites {
  display: none;

}

#dropdown {
  width: 300px;
}

.delete-dog{
  width: 30px;
  height: auto;
  float:right;
}

#dog-list{
  display: flex;
  flex-flow: wrap;
}

.favorite{
  margin:10px;
}

@media screen and (max-width: 570px){
  .big{
    max-width: 80vw;
    height: auto;
    padding:5px;
  }
  .navbar{
    padding-left: 5px;
    padding-right: 5px;   
  }

  h1{
    padding-left: 5px;
  }
  
}